body {
    background-color: black;
}

.cabeçalho {
    background-color: rgb(0, 0, 0);
    width: 100%;
    border-radius: 10px;
    height: 40px;
    flex-direction: row;
    border-color: green;
    box-shadow: 2px 2px  green;
}

.nome-site {
    color: white;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

.botoessobre {
    margin-top: -30px;
    margin-left: 600px;
    gap: 10px;
    display: flex;
}

.botoes-login {
    margin-left: 1200px;
    margin-top: -20px;
}

.frases {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 200px;
    margin-left: 200px;
    font-size: 20px;

}

.texte2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: green;
}

.texte1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 27px;
}

.typing-effect {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: gray;
    border-right: 0.15em solid gray;
    animation: blink 0.75s step-end infinite;
}

@keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: gray; }
}
.imagem-direita{
    max-width: 500px;
    margin-left: 700px;
    margin-top: -200px;
    
}
.sobre1{
    background-color: black;
    border-color: black;
    color: green;
}
.sobre2{
    background-color: black;
    border-color: black;
    color: green;
}
.sobre3{
    background-color: black;
    border-color: black;
    color: green;
}
.entrar-conta{
    background-color: black;
    border-color: black;
    color: green;
}
.criar-conta{
    background-color: black;
    border-color: black;
    color: green;
}
.porque-usar{
    color: #008000;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-left: 500px;
    
}
.pagetwo{
    margin-top: 250px;
}
.porque-usar{
      max-width: 450px;
      max-height: 450px;
      margin-left: 750px;
}
.foto-perigo{
    border-radius: 20px;
    margin-top: -540px;
    margin-left: 45px;
    display: flex;
}
@media(max-width:768px){
    body {
        font-size: 16px;
    }
}
